body{
    font-family: arial, sans-serif;
    margin: 2em;
    background-color: #e6f1f3;
    color:black;
}

.sidemenu
{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color:#90BEE0;
    overflow-x:hidden;
    padding-top: 20px;
    margin-top: 80px;
    display: inline-block;
}

.sidemenu a
{
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
    color: #1F1D1C;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidemenu a:hover
{
    color: antiquewhite
}
