body{
    font-family: arial, sans-serif;
    margin: 2em;
    background-color: #e6f1f3;
    color:black;
}

.sidemenu
{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color:#90BEE0;
    overflow-x:hidden;
    padding-top: 20px;
    margin-top: 80px;
    display: inline-block;
    float: left;
}

.sidemenu a
{
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
    color: #1F1D1C;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidemenu a:hover
{
    color: antiquewhite
}

header{
	background-color: #FFC300;
	height: 80px;
	width: 100%;
	position: fixed;
    z-index: 1;
    top:0;
    left:0;
}

input[type=text] {
  float: right;
  padding: 6px;
  padding-right: 200px;
  border: none;
  margin-top: 8px;
  margin-right: 480px;
  font-size: 17px;
}

#mainlogo{
	height: 60px;
	padding: 10px;
}

#Zot{
	display: inline-block;
	font-size: 500%;
	margin: auto;
	margin-top: 80px;
	padding-left: 550px;
	text-align: center;
	font-family: arial, sans-serif;
	color: #0F3E87;
    margin-bottom: 30px;
}

#Market{
	display: inline-block;
	font-size: 500%;
	margin: auto;
	margin-top: 80px;
	font-family: arial, sans-serif;
	color: #FA9E35;
    margin-bottom: 30px;
}

.row1_imgs{
    display: block;
}

.row1_imgs img{
    width: 15%;
    margin-left: 250px;
    display: inline;
    float: left;
    display: inline-block;
}

.row2_names {
    color: #1F1D1C;
    display: block;
    line-height: 0%;
    clear: both;
}

.left{
    display: inline-block;
    margin-left: 250px;
}

.middle{
    display: inline-block;
    margin-left: 275px;
}

.right{
    display: inline-block;
    margin-left: 375px;
}

.row3_prices {
    color: #1F1D1C;
    display: block;
    line-height: 0%;
    clear: both;
}

.row3_prices .product-old-price{
    text-decoration: line-through;
    display: inline-block;
    margin-left: 250px;
}

.row3_prices .product-price{
    display: inline-block;
    margin-left: 5px;
}

.row3_prices .MoreInfo{
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
    background-color: #abc8fa;
    padding-right: 8px;
    padding-left: 8px;
}

.row3_prices .product-old-price2{
    text-decoration: line-through;
    display: inline-block;
    margin-left: 285px;
}

.row3_prices .product-price2{
    display: inline-block;
    margin-left: 5px;
}

.row3_prices .MoreInfo2{
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
    background-color: #abc8fa;
    padding-right: 8px;
    padding-left: 8px;
}

.row3_prices .product-old-price3{
    text-decoration: line-through;
    display: inline-block;
    margin-left: 315px;
}

.row3_prices .product-price3{
    display: inline-block;
    margin-left: 5px;
}

.row3_prices .MoreInfo3{
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
    background-color: #abc8fa;
    padding-right: 8px;
    padding-left: 8px;
}

.row4_imgs{
    display: block;
    margin-top: 20px;
}

.row4_imgs img{
    width: 15%;
    margin-left: 250px;
    display: inline;
    float: left;
    display: inline-block;
}