body{
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: #e6f1f3;
    color:black;
}

.sidemenu{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color:#90BEE0;
    overflow-x:hidden;
    padding-top: 20px;
}

.sidemenu a, .clothes 
{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidemenu a:hover, .clothes:hover
{
    color: antiquewhite
}