body {
    padding: 0;
    height: 100%;
    margin: 0;
    /* font-family: sans-serif, Arial, Helvetica; */
    background-color: #e6f1f3;
    max-width: 1200px;
    padding: 30px;
}

#mainlogo{
	height: 60px;
	padding: 10px;
}

input[type=text] {
    float: right;
    padding: 6px;
    padding-right: 200px;
    border: none;
    margin-top: 8px;
    margin-right: 480px;
    font-size: 17px;
}

#Zot{
	display: inline-block;
	font-size: 500%;
	margin: auto;
	margin-top: 80px;
	padding-left: 550px;
	text-align: center;
	font-family: arial, sans-serif;
	color: #0F3E87;
}

#Market{
	display: inline-block;
	font-size: 500%;
	margin: auto;
	margin-top: 80px;
	font-family: arial, sans-serif;
	color: #FA9E35;
}

header{
	background-color: #FFC300;
	height: 80px;
	width: 100%;
	position: fixed;
    z-index: 1;
    top:0;
    left:0;
}

.title{
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.catagory{
    margin-top: 70px;
    margin-left: 30px;
}

.name h1 {
    font-weight: 300;
    font-size: 28px;
    color: #4b74b2;
    width: 100%;
}

.catagory span {
    font-size: 15px;
    color: #ffc300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.thumbnail_images ul{
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top:10px
}

.thumbnail_images ul li{
    margin: 5px;
    padding: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all 0.5s
}

.thumbnail_images ul li:hover{
    border: 2px solid #000
}

.left-column {
    width: 70%;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
  }
   
.right-column {
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
}

/* Left Column */
.left-column img {
    width: 90%;
    left: 0;
    top: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.product-description {
    border-bottom: 1px solid rgb(140, 0, 0);
    margin-bottom: 20px;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: black;
    line-height: 24px;
}

.orignial-price{
    text-decoration: line-through;
    margin-bottom: 20px;
}

.product-price {
    margin-bottom: 30px;
    color: rgb(175, 69, 69);
    font-size: 25px;
}

.responsive {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .left, .right {
      width: 100%;
    }
}