header{
	background-color: #FFC300;
	height: 80px;
	width: 100%;
	position: fixed;
    z-index: 1;
    top:0;
    left:0;
}

input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

#mainlogo{
	height: 60px;
	padding: 10px;
}

#Zot{
	display: inline-block;
	font-size: 500%;
	margin: auto;
	margin-top: 80px;
	padding-left: 550px;
	font-family: arial, sans-serif;
	color: #0F3E87;
}

#Market{
	display: inline-block;
	font-size: 500%;
	margin: auto;
	margin-top: 80px;
	font-family: arial, sans-serif;
	color: #FA9E35;
}

